* {
  box-sizing: border-box;
  margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	text-align: center;
}

p {
	text-align: center;
}

html {
	font: 20px/1.618 Garamond, Cambria, sans-serif;
}

a:link {
	color: rgb(224, 222, 220); 
	background-color: transparent; 
	text-decoration: none;
}

a:visited {
	color: rgb(224, 222, 220);
	background-color: transparent;
	text-decoration: none;
}

a:hover {
	color:rgb(233, 97, 73);
	background-color: transparent;
	text-decoration: underline;
}

.grid2 {
	display: grid;
	grid-gap: 5px 5px;
	grid-template-columns: repeat(6, 1fr); 
	grid-template-rows: repeat(12, 1fr); 
	margin: 2rem auto;
	max-width: 1300px;
	height: 1500px;
}

.slideshow-container {
	border-radius: 15px;
	background-color: rgb(116, 110, 110);
	padding: 20px;
	width: 100%;
	display: inline-block;
	-webkit-box-shadow: 10px 10px 52px 10px rgba(17,6,1,1);
	-moz-box-shadow: 10px 10px 52px 10px rgba(17,6,1,1);
	box-shadow: 10px 10px 52px 10px rgba(17,6,1,1);	
}

.slideshow {	
	max-width: 1000px;  
	position: relative;
	margin: auto;
}

.project {
	padding: 5px;
  height: 100%;
  width: 100%;
}

img {
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: white;
  font-size: 20px;
  padding: 8px 12px;
  bottom: 8px;
  width: 100%;
	text-align: center;
	display: inline-block;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: rgb(224, 222, 220);
  border-radius: 50%;
  display: inline-block;
	transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color:rgb(233, 114, 93);
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.project-image {
	height: 350px;
	width: 500px;
	-webkit-box-shadow: 0px 0px 179px -9px rgba(237,223,230,0.65);
	-moz-box-shadow: 0px 0px 179px -9px rgba(237,223,230,0.65);
	box-shadow: 0px 0px 179px -9px rgba(237,223,230,0.65)
}

.project-link{
	color: white;
  font-size: 30px;
  padding: 8px 12px;
  bottom: 8px;
  width: 100%;
	text-align: center;
	display: inline-block
}

#more {
	display: none;
}

.button {
	color: white;
	display: inline-block;
	border-radius: 5px;
	background-color: rgb(233, 114, 93);
	align-content: center;
	width: 10%;
}